# Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not.

**You can use a pre-calculated list/dict to store fab numbers till 10000**

In [254]:
# A utility function that returns true if x is perfect square 
import math
def isPerfectSquare(x): 
    s = int(math.sqrt(x)) 
    return s*s == x

In [252]:
# Returns true if n is a Fibinacci Number, else false 
def isFibonacci(n): 
  
    # n is Fibinacci if one of 5*n*n + 4 or 5*n*n - 4 or both 
    # is a perferct square 
    return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)

In [290]:
isFibonacci(199)

False

In [257]:
# A utility function to test above functions and generate a feb numbers within 10000
def generate_fibo_list(max_val=10000):
  fibonaci_number_l = []
  for i in range(1,max_val):
    if (isFibonacci(i) == True):
      fibonaci_number_l.append(i)
        #  print i,"is a Fibonacci Number"
    else:
      pass

  return fibonaci_number_l

In [287]:
def detect_fibonaci_number(number):
  """
  This function will first call generate_fibo_list to generate Fibonaci number and then detect if the input number is a feb number or not.
  """
  # fibonaci_number_l = generate_fibo_list
  check = lambda feb_numbers: True if len(feb_numbers) > 0 else False  ## defining the lambda function to check whether filter condition returned any true
  if number > 10000:
    print(f"{number} is not within defined range of 10000")
  else:
    fibonaci_number_l = generate_fibo_list()
    feb_numbers = list(filter(lambda x: x == number, fibonaci_number_l))
    
  return check(feb_numbers)

In [288]:
feb_numbers =detect_fibonaci_number(21)  ## This is Feb Number and hence returned True
feb_numbers

True

In [291]:
feb_numbers =detect_fibonaci_number(199)  ## This is Not Feb Number and hence it returned False
feb_numbers

False

# Using list comprehension (and zip/lambda/etc if required) write five different expressions that

- add 2 iterables a and b such that a is even and b is odd
- strips every vowel from a string provided (tsai>>t s)
- acts like a ReLU function for a 1D array
- acts like a sigmoid function for a 1D array
- takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn

### add 2 iterables a and b such that a is even and b is odd

In [249]:
def add_iterable(iterable1, iterable2):
  """
  This function will use list comprehension and lambda to add two iterable where one has even number of item while the other one has odd number of items
  """
  final_list = [sum(i) for i in zip(iterable1, iterable2)]  
  return final_list

In [250]:
iterable1=[1,3,5,7]
iterable2=[3,4,6,8]
final_list = add_iterable(iterable1,iterable2)
final_list

[4, 7, 11, 15]

### ReLU

In [162]:
def relu_list(array):
  """
  This function acts like a RelU function for 1D array. Here list comprehension has been used with a condition to eliminate. List comprehension with condition will work as clarified below
  [expression1(item)                                        for item in iterable]
  [expression1(item) if conditional1                        for item in iterable]
  [expression1(item) if conditional1 else expression2(item) for item in iterable]
  [expression1(item) if conditional1 else expression2(item) for item in iterable if conditional2]
  """
  relu_output = [x if x >= 0 else 0 for x in array ] # ['EVEN' if num % 2 == 0 else 'ODD' for num in range(10)]

  # relu_output = [x=0 x for x in array if x < 0]
  return relu_output

In [163]:
array_val = [1,-3,5,0,7,-9,-10,5,45]
relu_output = relu_list(array_val)
relu_output

[1, 0, 5, 0, 7, 0, 0, 5, 45]

### sigmoid

In [177]:
def sigmoid_list(array):
  """
  This function will handle a 1D array and calculate sigmoid values. Here list comprehension has been used to develop in pythonic way.
  Sigmoid value for a variable x can be calculated by expression 1/(1 + np.exp(-x)) 
  """
  import numpy as np
  # sigmoid_output = [x=1/(1 + np.exp(-x) x for x in array ]
  sigmoid_output = [1/(1 + np.exp(-x)) for x in array]
  return sigmoid_output

In [179]:
array_val = [1,-3,5,0,7,-9,-10,5,4.5]
sigmoid_output = sigmoid_list(array_val)
sigmoid_output

[0.7310585786300049,
 0.04742587317756678,
 0.9933071490757153,
 0.5,
 0.9990889488055994,
 0.00012339457598623172,
 4.5397868702434395e-05,
 0.9933071490757153,
 0.9890130573694068]

### shifts all characters by 5

In [224]:
def shift_char(value):
  """
  This function will take out all the charecters from a string and then shift by 5.
  This one uses ord() to get an integer representation of char, and substracts n from this number. It then uses chr() to convert it back to a character.
  If i exceeds the ASCII value of "z", we reduce it by 26 characters (the number of characters in the English alphabet). 
  This logic will ensure our characters up as a cyclical pattern, so the shifting could flow smoothly from "z" to "a" and so on.
  This function will as of now convert all charecter into upper case for during comparing values. Advanced version of this function will handle mixed case and alpha numeric one.
  """
  # value_upper = value.upper()
  # shifted_output = [chr(ord(x) + 5) if ord(x) + 5 < ord("Z") else chr(ord(x) + 5 - 26) for x in name]
  shifted_output = [chr(ord(x.upper()) + 5) if ord(x.upper()) + 5 < ord("Z") else chr(ord(x.upper()) + 5 - 26) for x in name]
  final_list = [reduce(lambda i, j: i + j, shifted_output)] ## here i am concating each charecter to return the string
  return final_list

In [226]:
name = "AMITZ"
final_list = shift_char(name)
final_list # ['FRNYE']

['FRNYE']

In [216]:
# # chr(ord(char) - n
# name = "AMITZ"
# # sigmoid_output = [chr(ord(x) + 5) for x in name] 
# sigmoid_output = [chr(ord(x) + 5) if ord(x) + 5 < ord("Z") else chr(ord(x) + 5 - 26) for x in name]
# sigmoid_output

['F', 'R', 'N', 'Y', 'E']

### strips every vowel from string

In [ ]:
## l in ('a', 'e', 'i', 'o', 'u'):

In [237]:
def strip_vowel(value):
  """
  This function will strip every vowel from string. It uses list comprehension to check if the charecter is vowel or not.
  It will then use the lambda function and reduce function to concat each charecter to form a string
  """
  shtripped_output = [x for x in value if x.lower() not in ('a', 'e', 'i', 'o', 'u') ]
  final_shtripped_output = [reduce(lambda i, j: i + j, shtripped_output)] ## here i am concating each charecter to return the string
  return final_shtripped_output

In [238]:
name = "AMITuZ"
final_list = strip_vowel(name)
final_list # ['FRNYE']

['MTZ']

# A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check)

In [1]:
## downloading the swear word text file from github
!wget --no-check-certificate \
    https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt \
    -O list.txt

--2020-11-03 07:36:58--  https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3622 (3.5K) [text/plain]
Saving to: ‘list.txt’

list.txt            100%[===================>]   3.54K  --.-KB/s    in 0s

2020-11-03 07:36:58 (34.0 MB/s) - ‘list.txt’ saved [3622/3622]

In [132]:
from functools import reduce

- checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt

In [142]:
def return_tokenized(file_name_para="paragraph.txt", file_name_swear="list.txt"):
  corpus = open("paragraph.txt")
  swear = open("list.txt")
  tokenized_corpus = tokenize_corpus(corpus)
  tokenized_swear_words = tokenize_corpus(swear)
  tokenized_swear_words_final = reduce(operator.iconcat, tokenized_swear_words, [])
  tokenized_corpus_final = reduce(operator.iconcat, tokenized_corpus, []) # reduce(operator.concat, l)
  final_common_word_list = [x for x in tokenized_corpus_final if x in tokenized_swear_words_final]
  return tokenized_corpus_final, tokenized_swear_words_final, final_common_word_list

In [91]:
# def tokenize_corpus(corpus, file_newline_set=True):
#   """
#   This function takes the corpus and return token ones
#   """
#   tokens = [x.split() if file_newline_set else x.rstrip().rstrip(']').lstrip('[').split('\n') for x in corpus]
#   return tokens

In [143]:
tokenized_corpus, tokenized_swear_words,final_common_word_list = return_tokenized()
final_common_word_list

['bastard',
 'cockmunch',
 'cox',
 'bollok',
 'biatch',
 'buttmunch',
 'cawk',
 'faggs',
 'hell']

In [ ]:
def identify_word_list(text):
  """
  This function is for identifying the input number os Fibonacci number or not.
  """
  return True

# Using reduce functions

- add only even numbers in a list
- find the biggest character in a string (printable ascii characters)
- adds every 3rd number in a list

**Python’s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value. Python’s reduce() is popular among developers with a functional programming background.**

More details can be found from [Python's reduce(): From Functional to Pythonic Style](https://realpython.com/python-reduce-function/). More details about lambda function can be found from [Conditions in Lambda function](https://thispointer.com/python-how-to-use-if-else-elif-in-lambda-functions/).

In [1]:
from functools import reduce

### add only even numbers in a list

In [23]:
def reduce_even(first_number,secnd_number):
  """
  This functions detects in the number is even
  """
  first_even = lambda x : True if (x % 2 == 0) else False
  first_number_stat = first_even(first_number)
  second_number_stat = first_even(secnd_number)
  print(f"{first_number_stat} + {second_number_stat} = {first_number} + {secnd_number}")

  # lambda <arguments> : <Return Value if condition is True> if <condition> else <Return Value if condition is False>

  sum_even = lambda x,y : x+y if (first_number_stat==True and second_number_stat==True) else (x if first_number_stat else y )
  
  total = sum_even(first_number,secnd_number)
  # lambda x, y: x + y
  # result = 0
  # # checking condition 
  # if first_number % 2 == 0:
  #   first_even = True
  # else:
  #   first_even =
  
  # if secnd_number % 2 == 0:
  #   secnd_even = True

  
  # if first_number and secnd_number: 
  #   result = a + b
  #   print(f"{a} + {b} = {result}")
  #   # print(number)
  # elif first_number % 2 == 0 and secnd_number % 2 !=0 :
  #   pass
  return total

In [28]:
def reduce_add_even(list_val):
  """
  This functions detects in the number is even
  """
  sum = 0
  sum = reduce(reduce_even, list_val)
  return sum

In [51]:
def my_add(a, b):
  result = a + b
  print(f"{a} + {b} = {result}")
  return result

In [30]:
list = [6,4,22,10, 1, 9, 5, 4,5,6,7]
reduce_add_even(list)

True + True = 6 + 4
True + True = 10 + 22
True + True = 32 + 10
True + False = 42 + 1
True + False = 42 + 9
True + False = 42 + 5
True + True = 42 + 4
True + False = 46 + 5
True + True = 46 + 6
True + False = 52 + 7

52

### adds every 3rd number in a list

In [118]:
def add_number(first_num, secnd_num):
  """
  This functions add two number
  """
  val = first_num+secnd_num
  print(f"First Member {first_num},Second Member {secnd_num} and Total {val}")
  return val

In [119]:
def add_3rd_member(list_val):
  every_3rd_member = [lst[i-1] for i in range(len(lst)) if i % 3 == 0 and i > 0]
  print(f"All 3rd Numbers from Input List are {every_3rd_member}")
  sum_3rd= reduce(add_number,every_3rd_member)
  return sum_3rd

In [120]:
## This command will list out every 3rd member from list
lst = [100, 12, 121, 1211, 345, 672, 8988, 121, 345, 167]
sum_3rd = add_3rd_member(lst)
sum_3rd
# [lst[i-1] for i in range(len(lst)) if i % 3 == 0 and i > 0]

All 3rd Numbers from Input List are [121, 672, 345]
First Member 121,Second Member 672 and Total 793
First Member 793,Second Member 345 and Total 1138

1138

### find the biggest character in a string (printable ascii characters)

In [79]:
def reduce_string(first_char,secnd_char):
  """
  This functions detects in the number is even
  """
  print(first_char)
  printable_ascii_charecter = string.printable
  first_char_postn = printable_ascii_charecter.find(first_char)
  second_char_postn = printable_ascii_charecter.find(secnd_char)

  print(f"{first_char_postn} + {second_char_postn} = {first_char} + {secnd_char}")

  # lambda <arguments> : <Return Value if condition is True> if <condition> else <Return Value if condition is False>

  biggest_char = lambda x,y : x if printable_ascii_charecter.find(first_char) > printable_ascii_charecter.find(secnd_char) else y 
  biggest_char_val = biggest_char(first_char,secnd_char)
  return biggest_char_val

In [95]:
def reduce_char_biggest(string_val):
  charlist = [string_val[k] for k in range(len(string_val))]
  biggest_char = reduce(reduce_string,charlist)
  print(f"string {string_val} has biggest charecter {biggest_char}") ## https://www.datacamp.com/community/tutorials/f-string-formatting-in-python?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034364&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9061998&gclid=CjwKCAiA-f78BRBbEiwATKRRBP5GgzXbZr-vveNBwlfBaclk8YlmBrqJKEYkTEiMa6bEIc-VGzBjQhoCYNMQAvD_BwE

In [99]:
reduce_char_biggest("KAmitZ!")

K
46 + 36 = K + A
K
46 + 22 = K + m
K
46 + 18 = K + i
K
46 + 29 = K + t
K
46 + 61 = K + Z
Z
61 + 62 = Z + !
string KAmitZ! has biggest charecter !

# Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<999

More details on list comprehension can be found from https://www.datacamp.com/community/tutorials/python-list-comprehension?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034364&utm_targetid=dsa-486527602543&utm_loc_interest_ms=&utm_loc_physical_ms=9061998&gclid=CjwKCAiA-f78BRBbEiwATKRRBE2wzMoOwu8R304l37pCN_CREYKG0ORo26BIqetOb2mTutAFKOZgiBoCQesQAvD_BwE

- The choices() method returns a list with the randomly selected element from the specified sequence.
- The randint() method returns an integer number selected element from the specified range.

In [36]:
import random
import string

In [63]:
# CAR_NO = "KA" + str(car_DD) + car_cap + car_cap_x + str(car_DDDD)
CAR_NO_list = ["KA" + str(random.randint(10,99)) + random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) + str(random.randint(1000,9999)) for x in range(15)]
CAR_NO_list

['KA21AE1485',
 'KA41KY3481',
 'KA25JP6567',
 'KA44SJ8263',
 'KA50LL4129',
 'KA24VQ1244',
 'KA12BU8775',
 'KA82HH7467',
 'KA68BE3081',
 'KA62UI9803',
 'KA29IW2778',
 'KA14UI2677',
 'KA37RK2907',
 'KA35VC9288',
 'KA74UU6333']

# Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided

In [64]:
def generate_number_plate(prefix,upper_range, lower_range,count):
  """
  This function will generate count number of random car number plate
  """
  CAR_NO_list = [prefix + str(random.randint(10,99)) + random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) + str(random.randint(lower_range,upper_range)) for x in range(count)]
  return CAR_NO_list

In [65]:
generate_number_plate(prefix="AK",upper_range=9869,lower_range=1000,count=15)

['AK29OX5061',
 'AK45ZD1110',
 'AK28IT2705',
 'AK17DW8415',
 'AK33FG6842',
 'AK52ZA2946',
 'AK79ZS1515',
 'AK76QH4819',
 'AK59PK4580',
 'AK31UK3645',
 'AK79MH8229',
 'AK87BO8523',
 'AK17AP1719',
 'AK88YC7569',
 'AK73GT6492']